<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BuildingLink</title>
</head>
<body>
  <section id="root">
      <div>
        <div><a href=<%=`${baseAuthUri}?response_type=token&client_id=${client_id}&redirect_uri=${redirect_uri}&scope=${scope}`%>>Log In</a></div>
      </div>
  </section>
</body>
</html>